.Node {
    display: inline-table;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;

    background-color: #cc443e;
    color: white;

    border-radius: 0.75em;
    padding: 5px 20px 5px 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
    cursor: move;
    white-space: nowrap;
}

.removeNodeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;

    stroke-width: 25px;
    stroke: white;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.Node:hover .removeNodeButton {
    opacity: 1.0;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.NodeName {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: Center;
    /*position: relative;*/
}

.Input:before {
    content: '\A';
    display:inline-block
}

.Input {
    float: left;
    display: inline-block;
    margin-right: -10px;
}

.Center {
    float: left;
    text-align: center;
}

.Values {
    margin-left: 20px;
    margin-right: 20px;
}

.Output {
    float: right;
    display: inline-block;
    margin-left: -10px;
}

.Output:before {
    content: '\A';
    display:inline-block
}


.Field {
    position: relative;
    text-align: left;
    cursor: default;
    margin-top: 2px;
}

.Field.hov {
    color: orange;
}

.Field.hov>.Handle {
    stroke: orange;
    fill: orange;
}



.Handle {
    position: absolute;
    content: "";
    top: 3px;
    height: 10px;
    width: 10px;
    stroke: white;
    stroke-width: 50;
    fill: white;
}

.Output > .Field > .Handle {
    margin-left: 5px;
    left: 100%;
}

.Input > .Field > .Handle {
    margin-right: 5px;
    right: 100%;
}

.OutputNode {
    background: #bbb;
    border-radius: 0px 0.0px 0.0px 0.75em;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    cursor: default;
}

.OutputNode > .Input:before {
    content: '';
    display: block;
}
.OutputNode > .Input {
    float: none;
    display:block;
}

.OutputNode > Select {
    background-color: #999;
}

.Seperator {
    background: white;
    height: 1px;
    margin-left:-20px;
    margin-right:-20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type=number] {
    border: none;
    display:block;
    width: 100px;
    height: 16px;
    padding-left: 2px;
    border-bottom: solid 1px #c9c9c9;
    background-color: #cc9999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    vertical-align:middle;
    -moz-appearance: textfield;
     -webkit-appearance: none;
     appearance: none;
    margin: 0;
    margin-top: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus {
    border: solid 1px #FFF;
}

select {
  background-color: #cc9999;
  border-bottom: solid 1px white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.5em;
  padding: 1px 28px 0.0em 5px;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, white, white);
  background-position:
    calc(100% - 12px) calc(8px),
    calc(100% - 4px) calc(8px),
    calc(100% - 24px) calc(4px);
  background-size:
    8px 8px,
    8px 8px,
    1px 16px;
  background-repeat: no-repeat;
  box-sizing:border-box;
 }
