.Node {
    display: inline-block;
    position: absolute;
    font-family: "Lato thin";
    font-size: 16px;
    text-align: center;

    background-color: #cc443e;
    color: white;

    border-radius: 0.75em;
    padding-right: 30px;
    padding: 3px 18px 10px 18px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
}

.Node {
    cursor: move;
}

.NodeName {
    font-family: "Lato light";
    text-align: Center;
}

.Input {
    float: left;
    display: inline-block;
}

.Center {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    text-align: center;
}

.Output {
    float: right;
    display: inline-block;
}

.Field {
    position: relative;
    text-align: left;
    /*display: inline-block;*/
}

.Handle {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.Output > .Field > .Handle {
    margin-left: 5px;
    left: 100%;
    bottom: 6px;
}

.Input > .Field > .Handle {
    margin-right: 5px;
    right: 100%;
    bottom: 6px;
}


input[type=number] {
    border: none;
    float: left;
    width: 100px;
    height: 20px;
    border-bottom: solid 1px #c9c9c9;
    background-color: #cc9999;
    font-family: "Lato";
    color: white;
    box-sizing: border-box;
    vertical-align:middle;
    -moz-appearance: textfield;
     -webkit-appearance: none;
     appearance: none;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus {
    border: solid 1px #FFF;
}

/*--------- Color Picker CSS ---------*/
::-webkit-input-placeholder {
   color: #aa7777;
}

.Color {
    /*background-color: #cc9999;*/
    display: inline-block;
    position: relative;
    clear:both;
    line-height:0;
}

.Preview {
    position: absolute;
    width:18px;
    height:18px;
    /*padding: 10%;*/
    content: "";
    background-color: white;
    /*border: solid 1px #c9c9c9;*/
}

.color_input {
    border: none;
    float: left;
    width: 100px;
    height: 20px;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    background-color: #cc9999;
    font-family: "Lato";
    padding-left: 30px;
    color: white;
    box-sizing: border-box;
}

/*.color_input:focus {
    border-bottom: solid 2px #969696;
}*/

/*.ColorPickerBox {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #cc9999;
    z-index: 2;
    height: 276px;

    cursor: default;
}

.SLPicker {
    float:left;
    background-color: black;
    width: 256px;
    height: 256px;
    margin: 10px;
}

.HPicker {
    float: left;
    position: relative;
    margin: 10px;
    margin-left: 276px;
    background-color: blue;
    width: 32px;
    height: 256px;
    bottom: 276px;
}

.Selector {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px double gray;
    pointer-events: none
}

.Values {
    position: relative;
    margin: 10px;
    margin-left: 316px;
}

.Values > .Preview {
    position: static;
    width: 64px;
    height: 32px;
}

.Value {
    position: relative;;
    margin: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;
    width: 16px;
    height: 16px;
    padding: 4px;
    line-height: 20px;
}

.Value > input {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 28px;
    height: 100%;
    font-family: "Lato";
    border: 1px solid gray;
    background: #ccaaaa;
    color: white;
    padding-left: 10px;
    box-sizing: content-box;
}*/
